In [47]:
import pandas as pd
filename = 'sea_level_data/378.rlrdata'
df = pd.read_table(filename, header = None, sep=';')
df.columns = ['A', 'B', 'C', 'D']
df['Year'] = df['A'].astype(int)
df['Month'] = (((df['A'] % 1) * 12) + 1).astype(int)
df['Date'] = df['Month'].astype(str) + "/1/" + df['Year'].astype(str)
df['Station'] = filename[filename.index('/') + 1:filename.index('.')]
df = df.drop(['A', 'C', 'D', 'Year', 'Month'], axis=1)
df = df[['Station', 'Date', 'B']]
df.columns = ['Station', 'Date', 'Sea Level']
df = pd.concat([df,df])
df

     Station       Date  Sea Level
0        378   1/1/1933       7108
1        378   2/1/1933       7023
2        378   3/1/1933       7038
3        378   4/1/1933       7010
4        378   5/1/1933       6980
...      ...        ...        ...
1075     378   8/1/2022       7075
1076     378   9/1/2022       7112
1077     378  10/1/2022       7056
1078     378  11/1/2022       7029
1079     378  12/1/2022       7169

[2160 rows x 3 columns]

In [79]:
import os

directory = 'sea_level_data'
df = pd.DataFrame()
 
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    df1 = pd.read_table(directory + '/' + filename, header = None, sep=';')
    filename = directory + '/' + filename
    df1.columns = ['A', 'B', 'C', 'D']
    df1['Year'] = df1['A'].astype(int)
    df1 = df1[(df1['Year'] >= 2012)]
    df1 = df1[(df1['Year'] <= 2017)]
    df1['Month'] = (((df1['A'] % 1) * 12) + 1).astype(int)
    df1['Date'] = df1['Month'].astype(str) + "/1/" + df1['Year'].astype(str)
    df1['Station'] = filename[filename.index('/') + 1:filename.index('.')]
    df1 = df1.drop(['A', 'C', 'D', 'Year', 'Month'], axis=1)
    df1 = df1[['Station', 'Date', 'B']]
    df1.columns = ['Station', 'Date', 'Sea Level']
    df = pd.concat([df, df1])
    
stations = pd.read_csv('Stations.csv')
stations.columns = ['Station', 'City', 'Latitude', 'Longitude']
df['Station'] = df['Station'].astype(int)
df = pd.merge(df, stations, on=["Station"])
df = df[['Station', 'City', 'Longitude', 'Latitude', 'Date', 'Sea Level']]

In [80]:
df.to_csv(index=False)
compression_opts = dict(method='zip', archive_name='out1.csv')  
df.to_csv('out1.zip', index=False, compression=compression_opts)